<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.grantoo.bestgame"
    android:versionCode="1"
    android:versionName="1.0.BUILD_NUMBER">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17"/>

    <!-- web view -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- checking data network connection status -->
    <uses_permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- vibration for push notification behaviour -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- used for handling in-game notifications -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- receive GCM push notification messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    
    <!-- query GCM for retrieving registration ID for push notifications -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    
    <!-- keeps the device from sleeping when a push notification message is received -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="org.grantoo.bestgame.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="org.grantoo.bestgame.permission.C2D_MESSAGE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <application
        android:allowBackup="true"
        android:debuggable='false'
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        
        <activity
            android:name=".bestgame"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
            <intent-filter>
                
                <action
                    android:name="android.intent.action.MAIN"/>
                
                <category
                    android:name="android.intent.category.LAUNCHER"/>
                
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="org.grantoo.lib.propeller.PropellerSDKActivity"
            android:screenOrientation="landscape"/>
        
        <activity
            android:name=".NotificationActivity"/>
        
        <!--
        BroadcastReceiver that will receive intents from GCM
        services and handle them to the custom IntentService.

        The com.google.android.c2dm.permission.SEND permission is necessary
        so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="org.grantoo.bestgame"/>
                
            </intent-filter>
            
        </receiver>

        <!--
        Application-specific subclass of GCMBaseIntentService that will
        handle received messages.

        By default, it must be named .GCMIntentService, unless the
        application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".GCMIntentService"/>
        
    </application>

</manifest>
